size: 10Gi
storageClassName:
configMapName: mypostgres-conf
backupPVCName: pg-backup-pvc
secretName: mypostgres-secret
backupSchedule: "*/30 * * * *"
customPGImage: "watchdict/pg-aws:13.3"
replicas: 3
DBextensions:
  - uuid-ossp
  - pg_trgm